@using EnglishLearning.Models.EF;
@{
    ViewBag.Title = "Quản lý chủ đề";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    int dem = 1;
    var lstTheme = ViewBag.Themes as List<Theme>;
}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4">Danh sách chủ đề</h4>
    <div class="row">
        @if (TempData["message"] != null)
        {
            <div class="alert @TempData["alert"] text-center" id="AlertBox">
                @TempData["message"]
            </div>
        }
    </div>
    <!-- Basic Bootstrap Table -->
    <div class="card">
        <div class="card-header">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add_modal">Thêm chủ đề</button>
        </div>
        <div class="card-body">
            <div class="table-responsive text-nowrap">
                <table class="table" id="tblData">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th colspan="2">Chủ đề</th>
                            <th>Tổng level</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        @foreach (var item in lstTheme)
                        {
                            <tr>
                                <td>@dem</td>
                                <td><img src="~/Assets/Client/img/themes/@item.Image" alt="Avatar" style="width: 100px" /></td>
                                <td>@item.Name <p>@item.Mean</p></td>
                                <td>@item.TotalLevel</td>
                                <td>
                                    <a href="/admin/dictionary/index/@item.ID" class="btn btn-primary">Từ vựng</a>
                                    <a class="btn btn-default btnEdit" data-id="@item.ID" href="javascript:void(0);"><i class="bx bx-edit-alt me-1"></i> Sửa</a>
                                    <a class="btn btn-danger btnDelete" data-id="@item.ID" href="javascript:void(0);"><i class="bx bx-trash me-1"></i> Xóa</a>
                                </td>
                            </tr>
                            dem++;
                        }

                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="add_modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">Thêm mới chủ đề</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("add", "Theme", FormMethod.Post, new { enctype = "multipart/form-data", id = "frmAdd_Parent" }))
                {
                    <div class="row">
                        <div class="col mb-3">
                            <label for="recipient-name" class="col-form-label">Tên chủ đề (tiếng Anh):</label>
                            <input type="text" name="Name" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-3">
                            <label for="recipient-name" class="col-form-label">Tên chủ đề (tiếng Việt):</label>
                            <input type="text" name="Mean" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-3">
                            <label for="recipient-name" class="col-form-label">Hình ảnh:</label>
                            <label for="imgInp" class="custom-file-upload">
                                <i class="fa fa-cloud-upload"></i>
                            </label>
                            <input class="form-control" name="Image" type="file" id="imgInp" accept="image/*">
                            <img id="blah" src="~/Assets/Client/img/empty.jpg" alt="your image" style="width: 100px; margin-top: 15px"/>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col">
                            <button type="submit" class="btn btn-primary btn-lg">Thêm mới</button>
                        </div>
                    </div>
                }

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    Đóng
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade edit"  tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">Cập nhật chủ đề</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("edit", "Theme", FormMethod.Post, new { enctype = "multipart/form-data", id = "frmEdit_Parent" }))
                {
                    <input type="hidden" name="ID" id="ID" />
                    <div class="row">
                        <div class="col mb-3">
                            <label for="recipient-name" class="col-form-label">Tên chủ đề (tiếng Anh):</label>
                            <input type="text" name="Name" id="Name" class="form-control" >
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-3">
                            <label for="recipient-name" class="col-form-label">Tên chủ đề (tiếng Việt):</label>
                            <input type="text" name="Mean" id="Mean" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-3">
                            <label for="recipient-name" class="col-form-label">Hình ảnh:</label>
                            <label for="imgInp_Edit" class="custom-file-upload">
                                <i class="fa fa-cloud-upload"></i>
                            </label>
                            <input class="form-control" name="Image" type="file" id="imgInp_Edit" accept="image/*">
                            <img id="blah_Edit" src="#" alt="your image" style="width: 100px; margin-top: 15px" />
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col">
                            <button type="submit" class="btn btn-primary btn-lg">Cập nhật</button>
                        </div>
                    </div>
                }

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    Đóng
                </button>
            </div>
        </div>
    </div>
</div>

@section jsAdmin{

    <script type="text/javascript">
        imgInp.onchange = evt => {
            const [file] = imgInp.files
            if (file) {
                blah.src = URL.createObjectURL(file)
            }
        }
        imgInp_Edit.onchange = evt => {
            const [file] = imgInp_Edit.files
            if (file) {
                blah_Edit.src = URL.createObjectURL(file)
            }
        }
        $(function () {
            $('#imgInp').change(function () {
                var i = $(this).prev('label').clone();
                var file = '<i class="fa fa-cloud-upload"></i>' + $('#imgInp')[0].files[0].name;
                $(this).prev('label').empty();
                $(this).prev('label').append(file);
            });

            $('#imgInp_Edit').change(function () {
                var i = $(this).prev('label').clone();
                var file = '<i class="fa fa-cloud-upload"></i>' + $('#imgInp_Edit')[0].files[0].name;
                $(this).prev('label').empty();
                $(this).prev('label').append(file);
            });

            $('#AlertBox').removeClass('hide');

            //Sau khi hiển thị lên thì delay 1s và cuộn lên trên sử dụng slideup
            $('#AlertBox').delay(2000).slideUp(500);

            $('.btnDelete').off('click').on('click', function () {

                const notice = PNotify.notice({
                    title: 'Thông báo',
                    text: 'Bạn thật sự muốn xóa chủ đề này?',
                    icon: 'fa fa-question-circle',
                    width: '360px',
                    minHeight: '110px',
                    hide: false,
                    closer: false,
                    sticker: false,
                    destroy: true,
                    stack: new PNotify.Stack({
                        dir1: 'down',
                        modal: true,
                        firstpos1: 25,
                        overlayClose: false
                    }),
                    modules: new Map([
                        ...PNotify.defaultModules,
                        [PNotifyConfirm, {
                            confirm: true
                        }]
                    ])
                });

                notice.on('pnotify:confirm', () =>
                    $.ajax({
                        data: { ID: $(this).data('id') },
                        url: '/Admin/Theme/Delete',
                        dataType: 'Json',
                        type: 'POST',
                        success: function (res) {
                            if (res.status == true) {
                                PNotify.success({
                                    title: 'THÔNG BÁO!!',
                                    text: 'Xóa chủ đề thành công.'
                                });
                                window.location.href = "/admin/theme";
                            } else {
                                PNotify.error({
                                    title: 'THÔNG BÁO!!',
                                    text: 'Xóa chủ đề KHÔNG thành công.'
                                });
                            }
                        }
                    })

                );


            });

            $('.btnEdit').click(function (event) {
                $('.edit').modal('show');
                //alert($(this).data('id'));
                var ID = $(this).data('id');
                $.ajax({
                    url: "/Admin/Theme/GetByID/" + ID,
                    type: 'GET',
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    success: function (res) {
                        $('#Name').val(res.Name);
                        $('#Mean').val(res.Mean);
                        if (res.Image != null)
                            blah_Edit.src = "/Assets/Client/img/themes/" + res.Image.trim();
                        $('#ID').val(res.ID);
                    }
                });
            });
            //$('#tblData').DataTable();

            $("#frmAdd_Parent").validate({
                rules: {
                    Name: "required",
                    Mean: "required",
                    Image: "required",
                },
                messages: {
                    Name: "Vui lòng nhập tên chủ đề Tiếng Anh",
                    Mean: "Vui lòng nhập tên chủ đề Tiếng Việt",
                    Image: "Vui lòng chọn ảnh đại diện"
                }
            });

            $("#frmEdit_Parent").validate({
                rules: {
                    Name: "required",
                    Mean: "required",
                    Image: "required",
                },
                messages: {
                    Name: "Vui lòng nhập tên chủ đề Tiếng Anh",
                    Mean: "Vui lòng nhập tên chủ đề Tiếng Việt",
                    Image: "Vui lòng chọn ảnh đại diện"
                }
            });
        });
    </script>

}


